:root {
  box-sizing: border-box;
  --gap-size: 1.5rem;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
.is-italic {
  font-style: italic;
}

/* Targets all children in the
stack except the first one */
.stack > * + * {
  margin-block-start: 1.5em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
  gap: 16px;
}
.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  /* align-items: start; */
  grid-auto-flow: dense;
}
.card {
  max-width: 420px;
  padding: 28px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}
.wide-card {
  grid-column: span 3;
  margin: 20px auto;
}
.long-card {
  grid-row: span 2;
}
.long-3-card {
  grid-row: span 3;
}

.title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}
.centered {
  text-align: center;
}
